body{

margin:0;
padding:0;

background:black;

overflow:hidden;

font-family:sans-serif;

display:flex;
justify-content:center;
align-items:center;

height:100vh;

color:white;

}


/* النص */

#mainText {
  position: fixed;               /* ثابت بالنسبة للشاشة */
  top: 50%;                      /* منتصف ارتفاع الشاشة */
  left: 50%;                     /* منتصف عرض الشاشة */
  transform: translate(-50%, -50%);  /* ضبط الوسط بدقة */
  
  font-size: 60px;
  color: #ff4da6;                /* لون النص */
  background: transparent;       /* بدون خلفية */
  border: none;                  /* بدون حدود */
  cursor: pointer;
  text-align: center;
  padding: 0;
  z-index: 2;
  transition: color 0.3s;
}

/* تأثير عند المرور على النص */
#mainText:hover {
  color: #ff99cc;
}

/* دعم الموبايل */
@media (max-width:768px){
  #mainText{
    font-size:35px;
  }
}

@media (max-width:480px){
  #mainText{
    font-size:28px;
  }
}
#rain span {
  position: absolute;
  top: -50px;
  color: #ff4da6;       /* لون ثابت */
  font-size: 20px;       /* حجم ثابت أو متغير بسيط */
  font-weight: normal;    /* بدون bold */
  text-shadow: none;      /* شيل كل اللمعة */
  animation: fall 6s linear infinite;
}

@keyframes fall {
  0% {
    transform: translateY(-50px);
    opacity: 1;
  }
  100% {
    transform: translateY(110vh);
    opacity: 1;
  }
}

/* دعم الموبايل */

@media (max-width:768px){

#mainText{

font-size:35px;

}

}

@media (max-width:480px){

#mainText{

font-size:28px;

}

}